/* 
#E075F0
#60D9F0

#5A5AE0
#304E78
#2F1A4A
 */


.ChartContainer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.FocusedChart {
    width:60%;
    height:100%;

}

.UnfocusedCharts {
    width:20%;
    height:100%;
}

.IterationContainer {
    display: flex;
    width: 60%;
    margin-left: 10%;
    justify-content: center;
}

Button {
    color: #FFFFFF;
    padding:0.35em 1.2em;
    border-width: 0.1em;
    background-color: #304E78;
}